@charset "utf-8";

#skipNav{position:relative;z-index:9999;}
#skipNav a{position:absolute;top:-200px;left:0;width:160px;line-height:30px;border:1px solid #dedede;background:#2A72CA;color:#fff;text-align:center;}
#skipNav a:focus, #skipNav a:active{top: 0;}

header{position:relative;font-size:1.8em;height:90px;background:#fff;}
header .logo{display:inline-block;width:200px;line-height:90px;height:90px;background:url("../images/common/logo.png") no-repeat 80% 53%;}
header .userInfo{position:absolute;width:100%;padding-top:2px;text-align:right;z-index:0;}
header .userInfo > *{vertical-align:middle;margin-left:10px;}
header #cnt{height:27px;display:inline-block;}
header #cnt > li{float:left;margin-left:7px;color:#444;font-size:16px;margin-right:17px;}
header #cnt > li > b{font-weight:400;color:#00664f;}
header #cnt > li > span{margin-right:5px;position:relative;}
header #cnt > li > span > i{overflow:hidden;width:20px;height:20px;display:inline-block;position:relative;vertical-align:text-top;}
header #cnt > li > span > i:before, header #cnt > li > span > i:after{content:"";position:absolute;left:5px;top:4px;width:9px;height:9px;background:#89d9c7;opacity:0.5;border-radius:50%;display:inline-block;}
header #cnt > li > span > i:after{width:16px;height:15px;top:13px;left:1px;}
header .nav{width:calc(100% - 200px);position:relative;}
header .nav > ul{width:100%;text-align:right;padding-right:147px;height:90px;}
header .nav > ul > li{display:inline-block;position:relative;}
header .nav > ul > li > a{display:inline-block;height:90px;padding:40px 37px 15px 37px;position:relative;}
header .nav .userName{font-size:1.5rem;color:#004A98;}
header .nav .logIn, header .nav .logOut, header .nav .reSet{font-size:13px;background:#eee;color:#767676;padding:2px 12px;border-radius:20px;}
header .nav .memberShip{font-size:13px;position:absolute;background:#eee;color:#767676;padding:2px 12px;border-radius:20px;right:80px;top:7px;}
.navBg{display:none;width:100%;position:absolute;background:#F9F9F9;border-top:1px solid #ddd;box-shadow:2px 2px 7px rgba(0,0,0,0.2);}

.mobileMenuBtn{display:none;position:absolute;right:20px;top:24px;}
.mobileMenuBtn .hamburger{position:relative;cursor:pointer;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;display:none;}
.mobileMenuBtn .hamburger .line{width:40px;height:5px;border-radius:3px;background:#004A98;display:block;margin: 6px auto;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.mobileMenuBtn .hamburger:before{content:"";position:absolute;width:35px;height:35px;border: 3px solid transparent;top:calc(50% - 21px);left:calc(50% - 20px);-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;border-radius:100%;}
.mobileMenuBtn.on .hamburger{-webkit-transform:rotate(45deg);-mss-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);margin-right:5px;}
.mobileMenuBtn.on .hamburger .line{width:30px;}
.mobileMenuBtn.on .hamburger .line:nth-child(1){-webkit-transform:translateY(9px);-ms-transform:translateY(9px);-o-transform:translateY(9px);transform:translateY(9px);}
.mobileMenuBtn.on .hamburger .line:nth-child(2){opacity:0;}
.mobileMenuBtn.on .hamburger .line:nth-child(3){-webkit-transform:translateY(-13px) rotate(90deg);-ms-transform:translateY(-13px) rotate(90deg);-o-transform:translateY(-13px) rotate(90deg);transform:translateY(-13px) rotate(90deg);}
.mobileMenuBtn.on .hamburger:before {content: "";border:3px solid #49AAFF;}

.mobileMenu {position:fixed;width:50%;height:100%;overflow-x:hidden;top:80px;right:-100%;background-color:#111;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;font-size:1.8rem;color:#818181;line-height:160%;z-index:1;}
.mobileMenu > .userName{font-size:1.5rem;position:absolute;right:100px;top:13px;color:#ddd;}
.mobileMenu > .logIn, .mobileMenu > .logOut{font-size:1.5rem;padding:3px 10px;background:#49AAFF;border-radius:20px;position:absolute;right:20px;top:10px;color:#fff;}
.mobileMenu > ul{padding-top:20px;}
.mobileMenu > ul > li{padding:10px 20px;position:relative;width:100%;font-weight:bold;}
.mobileMenu > ul > li > button, .mobileMenu > ul > li > button > a{position:relative;display:inline-block;color:#ccc;font-weight:bold;font-size:1.5rem;}
.mobileMenu > ul > li:nth-child(1) > button:after, .mobileMenu > ul > li:nth-child(4) > button:after{content:'';position:absolute;width:10px;height:10px;border-top:1px solid #49AAFF;border-right:1px solid #49AAFF;-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg);transform:rotate(135deg);margin-left:27%;margin-top:5px;}
.mobileMenu > ul > li > ul.tm_02dep{margin-top:17px;display:none;padding:10px;position:relative;top:0;border:1px solid #444;}
.mobileMenu > ul > li > ul.tm_02dep > li{padding:5px 0;}
.mobileMenu > ul > li > ul.tm_02dep > li > a{color:#eee;font-size:1.5rem;font-weight:normal;padding:3px 10px;display:inline-block;}
.mobileMenu > ul > li > ul.tm_02dep > li > ul{padding:10px 0;}
.mobileMenu > ul > li > ul.tm_02dep > li > ul a{display:block;font-size:13px;color:#eee;padding:3px 20px;}
.mobileMenu > ul > li > ul.tm_02dep *.on {color:#00d8ff;}
.mobileMenu > ul > li:before{content:"";position:absolute;width:100%;height:100%;left:0;top:0;opacity:0.5;z-index:-1;}
.conBody{padding:4rem 0 4.5rem 0;font-size:1.6rem;}
.inner{max-width:1280px;margin:0 auto;}
.navBg{position:absolute;z-index:1;top:90px;width:100%;display:none;background:#F9F9F9;border-top:1px solid #ddd;/* box-shadow:0px 10px 5px rgba(0,0,0,0.2); */}
/* .navBg.on{display:block;} */
.nav .drop{display:none;position:absolute;z-index:2;width:150%;text-align:left;top:90px;left:10px;padding-top:10px;}
.nav .drop.on{display:block;}
.nav .drop li a{display:block;padding:4px 10px;margin:4px 10px 6px 10px;border-radius:20px;font-size:16px;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.nav .drop li a:hover, .drop li a:focus, .nav a.on{color:#004a98;font-weight:bold;}
.nav > ul > li > a:after{content:"";opacity:0;position:absolute;left:50%;z-index:2;margin-left:-10px;bottom:-10px;width:20px;height:20px;border-radius:50%;background:#004a98;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-ms-transition:all 0.4s;-o-transition:all 0.4s;transition:all 0.4s;}
.nav > ul > li:hover a:after{opacity:1;}
.search_input_box{position:absolute;right:0;top:0;border:1px solid #004a98;border-radius:5px;}
.search_input_box > input{width:250px;vertical-align:top;float:left;border:0;height:38px;border-radius:5px;vertical-align:bottom;}
.search_input_box > button{background:#004a98;color:#fff;float:left;height:38px;width:50px;vertical-align:bottom;}

.subNav{height:5rem;border-bottom:1px solid #DBDBDB;}
.subNav .inner > *{border-right:1px solid #DBDBDB;float:left;color:#505050;font-size:1.5rem;}
.subNav .home{display:block;height:100%;width:50px;border-left:1px solid #DBDBDB;background:url(../images/common/icon_home.png) no-repeat center center;}
.subNav .inner > div{width:26rem;height:100%;position:relative;}
.subNav .inner > div:before{content:"";width:20px;height:20px;position:absolute;right:30px;top:50%;border:1px solid #505050;border-radius:50%;margin-top:-10px;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-ms-transition:all 0.4s;-o-transition:all 0.4s;transition:all 0.4s;}
.subNav .inner > div:after{content:"";width:7px;height:7px;position:absolute;right:37px;top:50%;margin-top:-4px;border-top:1px solid #505050;border-right:1px solid #505050;-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg);transform:rotate(135deg);-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-ms-transition:all 0.4s;-o-transition:all 0.4s;transition:all 0.4s;}
.subNav .inner > div.on:after{margin-top:-2px;-webkit-transform:rotate(180deg);-moz-transform:rotate(315deg);-ms-transform:rotate(315deg);-o-transform:rotate(315deg);transform:rotate(315deg);-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-ms-transition:all 0.4s;-o-transition:all 0.4s;transition:all 0.4s;}
.subNav .inner > div > button{font-size:1.5rem;color:#505050;width:100%;height:100%;display:block;text-align:left;padding-left:30px;}
.subNav .inner > div > ul{position:absolute;background:#fff;width:100%;box-shadow:2px 2px 7px rgba(0,0,0,0.2);display:none;z-index:1}
.subNav .inner > div > ul > li{border-bottom:1px solid #eee;}
.subNav .inner > div > ul a{display:inline-block;width:100%;padding:10px 0 10px 30px;}

footer{background:#f2f6fa;font-size:1.5em;}
footer > .inner{height:145px;}
footer .logo{width:20%;height:100%;position:relative;}
footer .logo > img{top:50%;position:absolute;margin-top:-49px;}
footer .con{padding:3.5rem 0.5rem 0 0.5rem;}
footer .menu > a:after{content:"";width:1px;height:14px;display:inline-block;background:#dbdbdb;margin:0 18px;}
footer .menu > a:last-child:after{display:none;}
footer .address{font-size:1.5rem;color:#767676;margin-top:1.3rem;}
footer .copy{font-size:1.4rem;color:#999;margin-top:0.3rem;}

.loading{position:fixed;z-index:10;width:100%;height:100%;overflow:hidden;background:rgba(0,0,0,0.5);left:0;top:0;}
.loading > p{width:100%;position:fixed;top:50%;left:0;text-align:center;}
.loading > p:last-child{top:60%;font-size:24px;color:#fff;letter-spacing:2px;text-shadow:0px 5px 7px rgba(203, 228, 205, 0.7);}
.loading > p:last-child > span{display:inline-block;width:3px;height:13px;background:#fff;margin:0 3px;box-shadow:0px 5px 7px rgba(203, 228, 205, 0.7);}
.loading > p:last-child > span:before{content:"";display:inline-block;width:8px;height:8px;border-radius:50%;background:#85c0ff;position:absolute;bottom:23px;margin-left:-4px;animation:move2 1s linear infinite;}
.loading > p > span.dot{width:20px;height:20px;left:-100px;border-radius:50%;display:inline-block;position:relative;animation:move 2s linear infinite;}

@keyframes move{
	0%{box-shadow:0px 0 rgba(255,255,255,0), 0px 0 rgba(255,255,255,0), 0px 0 rgba(255,255,255,0), 0px 0 rgba(255,255,255,0);}
	12%{box-shadow:100px 0 rgba(255,255,255,1), 0px 0 rgba(255,255,255,0), 0px 0 rgba(255,255,255,0), 0px 0 rgba(255,255,255,0);}
	25%{box-shadow:120px 0 rgba(255,255,255,1), 100px 0 rgba(255,255,255,1), 0px 0 rgba(255,255,255,0), 0px 0 rgba(255,255,255,0);}
	36%{box-shadow:140px 0 rgba(255,255,255,1), 120px 0 rgba(255,255,255,1), 100px 0 rgba(255,255,255,1), 0px 0 rgba(255,255,255,0);}
	50%{box-shadow:160px 0 rgba(255,255,255,1), 140px 0 rgba(255,255,255,1), 120px 0 rgba(255,255,255,1), 100px 0 rgba(255,255,255,1);}
	62%{box-shadow:220px 0 rgba(255,255,255,0), 160px 0 rgba(255,255,255,1), 140px 0 rgba(255,255,255,1), 120px 0 rgba(255,255,255,1);}
	75%{box-shadow:220px 0 rgba(255,255,255,0), 220px 0 rgba(255,255,255,0), 160px 0 rgba(255,255,255,1), 140px 0 rgba(255,255,255,1);}
	87%{box-shadow:220px 0 rgba(255,255,255,0), 220px 0 rgba(255,255,255,0), 220px 0 rgba(255,255,255,0), 160px 0 rgba(255,255,255,1);}
	100%{box-shadow:220px 0 rgba(255,255,255,0), 220px 0 rgba(255,255,255,0), 220px 0 rgba(255,255,255,0), 220px 0 rgba(255,255,255,0);}
}
@keyframes move2{
	0%{bottom:23px;}
	40%{bottom:38px;}
	50%{bottom:43px;width:12px;height:12px;margin-left:-6px;background:#cbe2fb;}
	60%{bottom:38px;}
	100{bottom:23px;}
}

@media only screen and (max-width: 1280px) {
	.inner{padding: 0rem 1rem;}
	.conBody{padding: 4rem 1rem 5rem 1rem;}
}
@media only screen and (max-width: 1220px) {
	header .nav > ul{padding-right:80px;}
	header .nav > ul > li > a{padding:40px 28px 15px 28px;}
	footer .logo{width:240px;}
	footer .con{width:calc(100% - 240px);}
}
@media only screen and (max-width: 900px) {
	input[type=text], input[type=number], input[type=tel], input[type=password], select, textarea {padding:0 10px;}
	#contents{margin-top:80px;}
	.subNav{display:none;}
	header{height:80px;position:fixed;width:100%;border-bottom:1px solid #ddd;z-index:2;}
	header .logo{width:200px;height:80px;background:url("../images/common/logo.png") no-repeat 80% 53%;}
	.nav, .navBg{display:none !important;}
  	.mobileMenuBtn, .mobileMenu, .mobileMenuBtn .hamburger{display:block;}
	.mobileMenu.On:before{content:"";position:fixed;width:100%;right:0;top:80px;height:100%;background:rgba(0, 0, 0, 0.5);z-index:0;}
	.mobileMenu.On{right:0;-webkit-transition:all 0.3s ease-in-out;-moz-webkit-transition:all 0.3s ease-in-out;-ms-webkit-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
}
@media only screen and (max-width: 770px) {
	html,body {font-size:9px;}
}
@media only screen and (max-width: 660px) {
	footer > .inner{height:auto;}
	footer .logo{width:100%;text-align:center;}
	footer .logo > img{width:150px !important;position:relative;margin:15px 0;z-index:0;}
	footer .con{width:100%;text-align:center;float:none;}
}
@media only screen and (max-width: 550px) {
	.table.horizontal tbody th{padding:0 1rem;}
	.mobileMenu{width:70%;}
	.pagination > a{width:2.8rem;line-height:2.8rem;height:2.8rem;}
}
@media only screen and (max-width: 420px) {
	.table.horizontal tbody th{word-break:break-all;}
	.mobileMenu{width:70%;}
	.subNav{display:none;}
	.pagination > a{width:2rem;line-height:2rem;height:2rem;}
}
@media only screen and (max-width: 360px) {
	header .logo{background: url(../images/common/logo.png) no-repeat 0% 53%;background-size:70% auto;}
	.mobileMenu{width:80%;}
}
