@charset "utf-8";

.sub1{background:url("../images/sub/bg_sub1_2.png") center center;}
.sub1_2, .sub1_3, .sub2, .sub3, .sub4{background:url("../images/sub/bg_sub1_2.png") center center;}
.visual{height:160px;font-weight:bold;color:#fff;background-size:cover;}
.visual > .inner{height:100%;position:relative;z-index:0;}
.visual > .inner > p{position:absolute;top:50%;margin-top:-35px;font-size:3.2rem;}
.visual > .inner > p:last-child{font-size:1.8rem;margin-top:15px;font-weight:400;}

.wRound{display:inline-block;background:#E8F4FF;color:#0065c5;border:1px solid #0065c5;border-radius:20px;padding:0 2.82rem;line-height:3.8rem;}

.infoGrid{padding:40px 0 39px 0;color:#191919;border-bottom:1px solid #ddd;}
.infoGrid:last-child{border:0;}
.infoGrid > p, .infoGrid > h2{width:310px;font-size:2.5rem;font-weight:bold;line-height:140%;}
.infoGrid > div{padding-left:1rem;width:calc(100% - 310px);}
.infoGrid > div > ul{padding-left:2rem;font-size:1.8rem;}
.infoGrid > div > ul > li:before, #popup .subTitle:before{content:"";display:inline-block;width:8px;height:1px;background:#666;margin-bottom:5px;margin-left:-13px;margin-right:5px;}
.infoGrid > div > ul > li > p{font-size:1.6rem;color:#505050;margin-top:15px;margin-bottom:20px;}
/* .infoGrid > div > ul > li > p:before{content:"-";display:inline-block;width:10px;height:10px;margin-left:-10px;} */

.tabContent .subTitle{border:6px solid #e5edf4;padding:1rem 2.45rem;margin:1.5rem 0;}
.tabContent > .clear.tab1Box > .floatR.table{display:inline-block;width:calc(100% - 418px);}
.tabContent > .clear > .floatR.table{display:inline-block;width:calc(100% - 40.5rem);}
.dataTitle{text-align:left;position:relative;font-size:2rem;color:#333;font-weight:500;padding:1rem 0 1rem 2.2rem;}
/*.dataTitle:before{content:"";display:inline-block;width:1.2rem;height:1.2rem;border-radius:50%;background:#e10011;position:absolute;margin-top:-1.2rem;}*/
.dataTitle:before{content:"";display:inline-block;width:1rem;height:1rem;border-radius:50%;border:2px solid #e10011;opacity:0.3;position:absolute;left:0px;top:50%;margin-top:-7px;}
.unit{position:absolute;right:0;bottom:0.7rem;font-size:1.4rem;color:#505050;font-weight:400;}

.table.horizontal tr.thDepth th{position:relative;height:60px;}
.table.horizontal tr.thDepth th p{background:#ddd;border-right:1px solid #ccc;color:#505050;height:40px;line-height:40px;position:absolute;width:100%;bottom:0;}
.table.horizontal.tdLine td{border-right:1px solid #ddd;}
.table.horizontal.tdLine td:last-child{border-right:0;}
.table.horizontal .tdInfo{padding:20px 30px;color:#191919;}

.searchBox{padding:1rem;background:#e5edf4;margin-bottom:1.5rem;}
.searchBox select, .searchBox input[type="text"]{border-radius:0;font-size:1.5rem;height:40px;}
.searchBox label{font-size:1.6rem;display:inline-block;text-align:center;line-height:40px;}
.searchBox + .excelUpload{position:absolute;right:1rem;top:1rem;}
.excelUpload input[type="file"]{border:1px solid #ccc;background:#fdfdfd;height:40px;vertical-align:top;line-height:38px;padding-left:5px;font-size:15px;font-family:'Noto Sans Korean', sans-serif !important;}
.excelUpload button{border-radius:2px;}

.count{display:inline-block;position:absolute;right:10px;bottom:-3px;font-size:1.2rem;color:#505050;margin-bottom:5px;}
.conTitle{font-size:28px;font-weight:bold;}
.conTitle > .buttonRow{position:absolute;right:0;bottom:0;margin-top:0;margin-bottom:8px;}
.conTitle > .buttonRow > button{height:38px;}

.faq th{text-align:left;font-size:2.2rem;border-right:0;color:#191919;padding:2.8rem 3.2rem;}
.faq th.dateCol{font-size:1.4rem;color:#505050;position:absolute;width:190px !important;right:0;}
.faq td{color:#505050;padding:4rem 3.2rem;}
.faq .listPN{border-top:1px solid #ddd;}
.faq .listPN li{padding:2.5rem 3.5rem;color:#505050;border-bottom:1px solid #ddd;}
.faq .listPN li p:first-child{width:13%;min-width:92px;}
.faq .listPN li p:last-child a{color:#000;font-weight:500;}

.preBox{width:100%;overflow-x:auto;}
.preBox > p{white-space:pre;padding-left:8% !important;}

table.list th{border-right:0;}
table .txt_c td{text-align:center;}
table.hover.pointer{cursor:pointer;}
table.hover tbody tr:hover, table.hover tbody tr.on{background:#eaf1f6;}
table td div.on{padding:0 18px;height:35px;line-height:35px;background:#eaf1f6;}

.tableBorder{border-bottom:1px solid #ddd;border-top:2px solid #505050;}
.tableBorder > table.tHeadF > thead{border-top:0;}
table.tHeadF{table-layout:fixed;width:100%;overflow-x:hidden;}
table.tHeadF thead > tr > th{position:sticky;top:0;}

table tr.readOnly > td input[type="text"]{background:#f1f1f1 !important;}

#ui-datepicker-div{width:18em;}
.hasDatepicker{background:#fff url("../images/sub/iconDatePicker.png") no-repeat 95% center;}
.ui-datepicker-year{height:24.4px;margin-left:3px !important;padding-right:3px !important;}

[class^='page']{background:url("../images/sub/bg_logIn.png") no-repeat;background-size:cover;height:100%;position:relative;}
.pageLogIn .logInBlock{position:absolute;width:100%;max-width:480px;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%);text-align:center;}
[class^='page'] h2{color:#fff;font-size:3.2rem;font-weight:600;padding-bottom:2rem;}
.logInBlock > div{background:#fff;}
.logInBlock > div > p{color:#014a97;padding:3rem 0 2.5rem 0;font-size:1.4rem;background:#f2f6fa;border-bottom:1px solid #ddd;}
.logInBlock > div > div{padding:3rem 4rem;}
.logInBlock > div > div label{color:#191919;text-align:left;font-size:1.8rem;height:4.28rem !important;line-height:4.8rem}
.logInBlock > div > div button{background:#003764;color:#fff;height:5.2rem;font-size:1.8rem;font-weight:500;width:100%;margin:3rem 0 2rem 0;}
.logInBlock > div > div > p{font-size:1.4rem;color:#767676;}
.logInBlock > div > div > p a{display:inline-block;padding:3px;}
.logInBlock > div > div > p a:after{content:"";width:1px;height:12px;background:#ddd;margin:0 7px 0 13px;display:inline-block;}
.logInBlock > div > div > p a:last-child:after{display:none;}

.pageError{padding:10rem;}
.pageError > div{height:100%;position:relative;}
.pageError > div:before{content:"";height:100%;width:100%;z-index:0;left:0;top:0;position:absolute;border-radius:4rem;background:rgba(255, 255, 255, 0.2);box-shadow:0 8px 32px 0 rgba(31, 38, 135, 0.37);backdrop-filter:blur(3px);-webkit-backdrop-filter:blur(3px);border:1px solid rgba(255, 255, 255, 0.15);}
.pageError .inner{color:#fff;font-size:1.8rem;font-weight:400;text-align:center;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:100%;max-width:1280px;}
.pageError .inner button{border:1px solid #191919;padding:10px 20px;border-radius:5px;background:#333;color:#fff;}

@media only screen and (max-width: 1200px) {
	.sub4_2Con .searchBox{display:block;}
	.sub4_2Con .searchBox:after{clear:both;display:block;content:"";}
	.sub4_2Con .searchBox > div.select{float:left;width:37% !important;margin-bottom:5px;}
	.sub4_2Con .searchBox > div.select:nth-child(1){width:26% !important;}
	.sub4_2Con .searchBox > div.w_per27{float:left;padding-left:0 !important;width:calc(100% - 200px) !important;}
	.sub4_2Con .searchBox > div.flex1{width:200px !important;}
}
@media only screen and (max-width: 1060px) {
	.infoGrid > h2 {width:200px;}
	.searchBox.style2{display:block;}
	.searchBox.style2 > .select{width:40% !important;float:left;margin-right:0 !important;padding-left:8px;margin-bottom:5px;}
	.searchBox.style2 > .select:nth-child(1){width:20% !important;padding-left:0px;}
	.searchBox.style2 input[type="text"]{width:calc(100% - 90px);float:left;margin-left:0 !important;}
	
	.sub2_dCon .tabContent2 div.flexBox{display:block;margin-bottom:0px !important;}
	.sub2_dCon .tabContent2 div.flexBox > div{width:50% !important;float:left;margin-bottom:30px;}
	.sub2_dCon .tabContent2 div.flexBox > div:nth-child(2){padding-left:10px !important;padding-right:0px !important;}
	.sub2_dCon .tabContent2 div.flexBox > div:nth-child(2n-1){padding-left:0 !important;padding-right:10px !important;}
	.sub2_dCon .tabContent2 form.flexBox{display:block;}
	.sub2_dCon .tabContent2 form.flexBox > label{width:30% !important;float:left;margin-bottom:5px;}
	.sub2_dCon .tabContent2 form.flexBox > input, .sub2_dCon .tabContent2 form.flexBox > div{width:70% !important;float:left;margin-bottom:5px;}
	
	.sub2_2Con .w_per13{width:200px !important;}
	.sub2_2Con .w_per37{width:calc(100% - 200px) !important;}
	.sub2_2Con .excelUpload, .sub4_2Con .excelUpload{position:relative;width:calc(100% - 2rem);left:1rem;margin-top:-75px;margin-bottom:50px;}
	.sub2_2Con .excelUpload input[type="file"], .sub4_2Con  .excelUpload input[type="file"]{width:calc(100% - 92px);}
	.sub2_2Con .excelPadding, .sub4_2Con .excelPadding{padding-bottom:55px;} 
	
	.sub4_4Con .searchBox > div:last-child{width:100% !important;padding-left:0 !important;}
	.sub4_4Con .searchBox > div:nth-child(2){padding-left:0 !important;padding-right:0 !important;}
	.sub4_4Con .searchBox > div:last-child input{width:100% !important;}
	.searchBox.style2:after, .sub4_2Con .table.horizontal td.flexBox:after{clear:both;display:block;content:"";}

	.sub4_2Con .horizontal tr:first-child .flexBox{display:block;}
	.sub4_2Con .horizontal .flexBox > div{float:left;width:50% !important;margin-bottom:5px;}
	.sub4_2Con .horizontal .flexBox > div:first-child{margin-right:50%;}
	.sub4_2Con .horizontal .flexBox > div:nth-child(2){padding: 0 5px 0 0 !important;}
	.sub4_2Con .horizontal .flexBox > div:last-child{padding:0 !important;}
	
	.sub4_2Con  .excelPadding .w_per50{width:100% !important;}
}
@media only screen and (max-width: 900px) {
	.tabContent > .clear > div{width:100% !important;text-align:center;}
	.tabContent > .clear > div > img{width:50% !important;}
	.tabContent > .clear > .floatR.table{width:100% !important;margin-top:15px;}

	.table.horizontal tbody th{padding:0 1rem;}

	.sub4_2Con .horizontal .flexBox > div{width:100% !important;padding:0 !important;}
	.sub4_2Con .horizontal .flexBox > div:nth-child(2){padding-right:0 !important;}
}
@media only screen and (max-width: 820px) {
	.conTitle > .buttonRow.long{position:relative;padding-bottom:0;margin-bottom:-5px;}
}
@media only screen and (max-width: 770px) {

	.tabContent > .clear > div > img{width:70% !important; height:auto !important;}
	
	.sub2_dCon .tabContent2 div.flexBox > div{width:100% !important;float:none;margin-bottom:30px;padding-left:0 !important;padding-right:0 !important;}
	
	.sub4Con .flexBox:not(.searchBox){margin-bottom:0 !important;}
	.sub4Con .flexBox:not(.searchBox) > div{margin-bottom:30px;}
	.sub4Con .flexBox:nth-child(3){display:block;}
	.sub4Con .flexBox:nth-child(3):after{clear:both;display:block;content:"";}
	.sub4Con .flexBox:nth-child(3) > div{width:50% !important;float:left;}
	.sub4Con .flexBox:nth-child(3) > div:nth-child(2n){padding-right:0 !important;padding-left:20px !important;}
	.sub4Con .flexBox:nth-child(3) > div:nth-child(3n){padding-left:0 !important;padding-right:20px !important;}
}
@media only screen and (max-width: 660px) {
	table td{word-break:break-all;}
	.searchBox select{min-width:100px !important;}
	button[class*="btn"]{min-width:auto;padding:0 15px;}
	.infoGrid > h2{margin-bottom:15px;}
	.infoGrid > div {width:100%;}
	.searchBox.style2 input[type="text"]{width:calc(100% - 58px);}

	.sub4Con .searchBox label{width:100px !important;}
	.sub4_4Con .searchBox.style2 > div, .sub4_4Con .searchBox.style2 > div:nth-child(1){width:100% !important;padding-right:0 !important;padding-left:0 !important;}

	.sub2_2Con .excelUpload input[type="file"], .sub4_2Con .excelUpload input[type="file"]{width:calc(100% - 107px);}
	
	.sub2_dCon .searchBox{display:block;}
	.sub2_dCon .searchBox label{width:30% !important;margin-bottom:5px;}
	.sub2_dCon .searchBox input[type="text"], .sub2_dCon .searchBox > .select, .sub2_dCon .periodSelect{width:calc(70% - 2rem) !important;float:right;margin-bottom:5px;}
	.sub2_dCon .periodSelect > input[type="text"]{width:48% !important;float:left;}
	.sub2_dCon .searchBox:after{clear:both;display:block;content:"";}

	.member tr:nth-child(6) td.flexBox{display:block;}
	.member tr:nth-child(6) td.flexBox > select{width:100%;margin:0 0 5px 0!important;}
	.member tr:nth-child(6) td.flexBox > select:last-child{margin:0 0 0 0!important;}
	.member td button[class*="btn"]{min-width:80px;}
	
	.pageError{padding:2rem;}
	[class^='page'] h2{font-size:2.5rem;}
}
@media only screen and (max-width: 584px) {
	body{overflow-y:hidden;}
}
@media only screen and (max-width: 550px) {
	.searchBox.style2 > .select{width:100% !important;padding-left:0;}
	.searchBox.style2 > .select:nth-child(1){width:100% !important;}
	
	.sub2_dCon .tabContent:not(.tabContent:first-child) > .flexBox:not(.searchBox){display:block;}
	.sub2_dCon .tabContent:not(.tabContent:first-child) > .flexBox:not(.searchBox) > div[class*="chart"]{width:100% !important;padding:0 20px !important;margin:0 0 7px 0 !important;}
	.sub2_dCon .tabContent:not(.tabContent:first-child) > .flexBox.mb80{margin-bottom:30px !important;}

	.sub2_dCon .tabContent2 form.flexBox > label{width:50% !important;}
	.sub2_dCon .tabContent2 form.flexBox > input, .sub2_dCon .tabContent2 form.flexBox > div{width:50% !important;}
	
	.sub4Con .flexBox:not(.searchBox){display:block;}
	.sub4Con .flexBox:not(.searchBox) > div{width:100% !important;padding-left:20px !important;padding-right:20px !important;}
	.sub4Con .flexBox:nth-child(3) > div:nth-child(2n), .sub4Con .flexBox:nth-child(3) > div:nth-child(3n){padding-right:20px !important;padding-left:20px !important;}
	.sub4Con [class*="chart"]{margin-left:0 !important;margin-right:0 !important;}

	.sub4_2Con .searchBox > div.select{width:100% !important;margin-bottom:5px;padding-right:0 !important;}
	.sub4_2Con .searchBox > div.select:nth-child(1){width:100% !important;}
}
@media only screen and (max-width: 500px) {
	.pageLogIn .logInBlock{width:90%;margin:0 auto;}
	.tabContent > .clear > div > img{width:100% !important; height:auto !important;}
}
@media only screen and (max-width: 450px) {
	.searchBox.style1:has( > button ){display:block;text-align:center;}
	.searchBox:has( > button ) > .select{width:100%;display:block;margin-bottom:5px;height:40px;}
	.searchBox:has( > button ) > input[type="text"]{margin-left:0 !important;}
/* 	.searchBox.style1:has( > button ) > input[type="text"] {width:calc(100% - 112px) !important;} */
	.searchBox.style1:has( > button ) > button{margin-top:5px;}
	
	.sub4_3Con .searchBox > div.w_per25{width:100% !important;}
	img{height:auto !important;width:100% !important;}
	
	[class^='page'] h2{font-size:2rem;}
	select{padding-right:20px;}
}
@media only screen and (max-width: 370px) {
	.conTitle > .buttonRow{position:relative;margin-bottom:0;}
	.sub2_dCon .tabContent2 form.flexBox > label{width:100% !important;}
	.sub2_dCon .tabContent2 form.flexBox > input, .sub2_dCon .tabContent2 form.flexBox > div{width:100% !important;}
	
	.sub4_2Con .searchBox > div.w_per27{width:100% !important;margin-bottom:5px;}
	.sub4_2Con .searchBox > div.flex1{width:100% !important;}
	.sub4_2Con .searchBox > div.flex1 > label{width:30% !important;}
	.tabBtns button{font-size:1.7rem;}
	.searchBox select{min-width:100% !important;}
}
@media only screen and (max-width: 300px) {
	.tabBtns h2.w_per33:nth-child(1){width:31% !important;}
	.tabBtns h2.w_per33:nth-child(2){width:38% !important;}
	.tabBtns h2.w_per33:nth-child(3){width:31% !important;}
	.tabBtns button{font-size:1.6rem;}
}