/* 메뉴별 권한 관리 기존 depth 3 까지 코드 */
.menu-wrap .depth-1 {
    padding: 2.5rem 1rem;
    border-bottom: 0.1rem solid #ddd;
  }
  .menu-wrap .depth-1 .tit {
    font-size: 2.1rem;
    font-weight: 700;
  }
  .menu-wrap .depth-2 {
    border-bottom: 0.1rem solid #ddd;
    border-top: 0.1rem solid #ddd;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2.4rem 2rem 2.4rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-wrap .depth-3 .sub-ul {
    padding: 2rem 0;
  }
  .menu-wrap .depth-3 .sub-ul > li > a {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .menu-wrap .depth-3 .sub-ul > li > a::before {
    content: "";
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: #000;
    margin-right: 0.8rem;
  }
  
  .system-list .depth-1 {
    padding: 2.5rem 1rem;
    border-bottom: 0.1rem solid #ddd;
  }
  
  .system-list .depth-1 .tit {
    font-size: 2.1rem;
    font-weight: 700;
  }
  
  .system-list .depth-0 {
    border-bottom: 0.1rem solid #ddd;
    border-top: 0.1rem solid #ddd;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2.4rem 2rem 2.4rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .system-list {
    max-height: 1200px;
    overflow-y: auto;
  }
  
  .system-list .menu-head.depth-3, .menu-head.depth-4, .menu-head.depth-5, .menu-head.depth-6 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .system-list .menu-head.depth-2 {
    padding: 1.5rem 1.6rem;
  }
  
  .system-list .menu-head.depth-3 {
    padding-left: 20px;
  }
  
  .system-list .menu-head.depth-4 {
    padding-left: 24px;
  }
  
  .system-list .menu-head.depth-5 {
    padding-left: 28px;
  }
  
  .system-list .menu-head.depth-6 {
    padding-left: 32px;
  }
  
  .system-list .list-span {
    font-size: 1.2rem;
    color: rgb(67, 55, 179);
    font-weight: 700;
  }
  
  /* 초기 상태 안보이게 지정 */
  .menu-body {
    display: block;
  }
  
  .menu-btn {
    width: 2rem;
    height: 2rem;
    background: url(../img/arrow__bottom-bk.svg) no-repeat center;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
  }